# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
absl-py=1.4.0=pypi_0
accelerate=0.22.0=pypi_0
aiofiles=23.2.1=pypi_0
aiohttp=3.8.5=pypi_0
aiosignal=1.3.1=pypi_0
altair=5.0.1=pypi_0
annotated-types=0.5.0=pypi_0
anyio=3.7.1=pypi_0
appdirs=1.4.4=pypi_0
apscheduler=3.10.1=pypi_0
arrow=1.2.3=pypi_0
async-timeout=4.0.3=pypi_0
attrs=23.1.0=pypi_0
backoff=2.2.1=pypi_0
bcrypt=4.0.1=pypi_0
beautifulsoup4=4.12.2=pypi_0
bioc=2.0=pypi_0
bitsandbytes=0.41.1=pypi_0
blinker=1.6.2=pypi_0
boto3=1.26.101=pypi_0
botocore=1.29.101=pypi_0
bravado=11.0.3=pypi_0
bravado-core=6.1.0=pypi_0
bzip2=1.0.8=he774522_0
ca-certificates=2023.05.30=haa95532_0
cachetools=5.3.1=pypi_0
certifi=2023.7.22=pypi_0
charset-normalizer=3.2.0=pypi_0
chroma-hnswlib=0.7.2=pypi_0
chromadb=0.4.7=pypi_0
click=8.1.7=pypi_0
coloredlogs=15.0.1=pypi_0
contourpy=1.1.0=pypi_0
curated-tokenizers=0.9.0=pypi_0
curated-transformers=1.1.0=pypi_0
cycler=0.11.0=pypi_0
dataclasses-json=0.5.14=pypi_0
datasets=2.13.0=pypi_0
dill=0.3.6=pypi_0
docutils=0.20.1=pypi_0
einops=0.6.1=pypi_0
et-xmlfile=1.1.0=pypi_0
evaluate=0.4.0=pypi_0
execnet=2.0.2=pypi_0
fastapi=0.99.1=pypi_0
ffmpeg-python=0.2.0=pypi_0
ffmpy=0.3.1=pypi_0
filelock=3.12.2=pypi_0
fire=0.5.0=pypi_0
flatbuffers=23.5.26=pypi_0
fonttools=4.42.1=pypi_0
fqdn=1.5.1=pypi_0
frozenlist=1.4.0=pypi_0
fsspec=2023.6.0=pypi_0
future=0.18.3=pypi_0
gitdb=4.0.10=pypi_0
gitpython=3.1.32=pypi_0
google-api-core=2.11.1=pypi_0
google-auth=2.22.0=pypi_0
google-auth-oauthlib=1.0.0=pypi_0
googleapis-common-protos=1.60.0=pypi_0
gradio=3.41.0=pypi_0
gradio-client=0.5.0=pypi_0
greenlet=2.0.2=pypi_0
grpcio=1.57.0=pypi_0
h11=0.14.0=pypi_0
httpcore=0.17.3=pypi_0
httptools=0.6.0=pypi_0
httpx=0.24.1=pypi_0
huggingface-hub=0.16.4=pypi_0
humanfriendly=10.0=pypi_0
idna=3.4=pypi_0
importlib-metadata=6.8.0=pypi_0
importlib-resources=6.0.1=pypi_0
iniconfig=2.0.0=pypi_0
instructorembedding=1.0.1=pypi_0
intervaltree=3.1.0=pypi_0
isoduration=20.11.0=pypi_0
jinja2=3.1.2=pypi_0
jmespath=1.0.1=pypi_0
joblib=1.3.2=pypi_0
jsonlines=3.1.0=pypi_0
jsonpointer=2.4=pypi_0
jsonref=1.1.0=pypi_0
jsonschema=4.19.0=pypi_0
jsonschema-specifications=2023.7.1=pypi_0
kiwisolver=1.4.5=pypi_0
langchain=0.0.272=pypi_0
langsmith=0.0.26=pypi_0
libffi=3.4.4=hd77b12b_0
llvmlite=0.40.1=pypi_0
lm-dataformat=0.0.20=pypi_0
loralib=0.1.1=pypi_0
lxml=4.9.3=pypi_0
markdown=3.4.3=pypi_0
markdown-it-py=3.0.0=pypi_0
markupsafe=2.1.3=pypi_0
marshmallow=3.20.1=pypi_0
matplotlib=3.7.1=pypi_0
mdurl=0.1.2=pypi_0
monotonic=1.6=pypi_0
more-itertools=10.1.0=pypi_0
mpmath=1.3.0=pypi_0
msgpack=1.0.5=pypi_0
multidict=6.0.4=pypi_0
multiprocess=0.70.14=pypi_0
mypy-extensions=1.0.0=pypi_0
neptune=1.2.0=pypi_0
networkx=3.1=pypi_0
nltk=3.8.1=pypi_0
numba=0.57.1=pypi_0
numexpr=2.8.5=pypi_0
numpy=1.24.3=pypi_0
oauthlib=3.2.2=pypi_0
onnxruntime=1.15.1=pypi_0
openai=0.27.9=pypi_0
openai-whisper=20230314=pypi_0
openpyxl=3.1.2=pypi_0
openssl=3.0.10=h2bbff1b_0
orjson=3.9.5=pypi_0
overrides=7.4.0=pypi_0
pandas=2.0.2=pypi_0
peft=0.5.0=pypi_0
pillow=9.5.0=pypi_0
pip=23.2.1=py311haa95532_0
pluggy=1.2.0=pypi_0
portalocker=2.7.0=pypi_0
posthog=3.0.2=pypi_0
protobuf=4.24.1=pypi_0
pulsar-client=3.2.0=pypi_0
pyarrow=12.0.1=pypi_0
pyasn1=0.5.0=pypi_0
pyasn1-modules=0.3.0=pypi_0
pydantic=1.10.12=pypi_0
pydantic-core=2.6.3=pypi_0
pydeck=0.8.0=pypi_0
pydub=0.25.1=pypi_0
pyee=11.0.0=pypi_0
pyjwt=2.8.0=pypi_0
pympler=1.0.1=pypi_0
pynvml=11.5.0=pypi_0
pypandoc-binary=1.11=pypi_0
pyparsing=3.1.1=pypi_0
pyphen=0.14.0=pypi_0
pypika=0.48.9=pypi_0
pyreadline3=3.4.1=pypi_0
pytest=7.2.2=pypi_0
pytest-xdist=3.2.1=pypi_0
python=3.11.4=he1021f5_0
python-dotenv=1.0.0=pypi_0
python-magic-bin=0.4.14=pypi_0
python-multipart=0.0.6=pypi_0
pytz=2023.3=pypi_0
pytz-deprecation-shim=0.1.0.post0=pypi_0
pyyaml=6.0.1=pypi_0
referencing=0.30.2=pypi_0
regex=2023.8.8=pypi_0
requests=2.31.0=pypi_0
requests-oauthlib=1.3.1=pypi_0
responses=0.18.0=pypi_0
rfc3339-validator=0.1.4=pypi_0
rfc3987=1.3.8=pypi_0
rich=13.5.2=pypi_0
rouge-score=0.1.2=pypi_0
rpds-py=0.9.2=pypi_0
rsa=4.9=pypi_0
s3transfer=0.6.2=pypi_0
sacrebleu=2.3.1=pypi_0
safetensors=0.3.3=pypi_0
scikit-learn=1.2.2=pypi_0
scipy=1.11.2=pypi_0
semantic-version=2.10.0=pypi_0
sentencepiece=0.1.99=pypi_0
setuptools=68.0.0=py311haa95532_0
simplejson=3.19.1=pypi_0
smmap=5.0.0=pypi_0
sniffio=1.3.0=pypi_0
sortedcontainers=2.4.0=pypi_0
soupsieve=2.4.1=pypi_0
sqlalchemy=2.0.20=pypi_0
sqlite=3.41.2=h2bbff1b_0
starlette=0.27.0=pypi_0
stqdm=0.0.5=pypi_0
streamlit=1.25.0=pypi_0
swagger-spec-validator=3.0.3=pypi_0
sympy=1.12=pypi_0
tabulate=0.9.0=pypi_0
tenacity=8.2.3=pypi_0
tensorboard=2.13.0=pypi_0
tensorboard-data-server=0.7.1=pypi_0
termcolor=2.3.0=pypi_0
text-generation=0.6.0=pypi_0
textstat=0.7.3=pypi_0
threadpoolctl=3.2.0=pypi_0
tiktoken=0.3.1=pypi_0
tk=8.6.12=h2bbff1b_0
tokenizers=0.13.3=pypi_0
toml=0.10.2=pypi_0
toolz=0.12.0=pypi_0
torch=2.0.1=pypi_0
tqdm=4.66.1=pypi_0
transformers=4.32.0=pypi_0
typing-extensions=4.7.1=pypi_0
typing-inspect=0.9.0=pypi_0
tzdata=2023.3=pypi_0
tzlocal=4.3.1=pypi_0
ujson=5.8.0=pypi_0
uri-template=1.3.0=pypi_0
urllib3=1.26.16=pypi_0
uvicorn=0.23.2=pypi_0
validators=0.21.2=pypi_0
vc=14.2=h21ff451_1
vs2015_runtime=14.27.29016=h5e58377_2
watchdog=3.0.0=pypi_0
watchfiles=0.20.0=pypi_0
webcolors=1.13=pypi_0
websocket-client=1.6.2=pypi_0
websockets=11.0.3=pypi_0
werkzeug=2.3.7=pypi_0
wheel=0.38.4=py311haa95532_0
wikipedia=1.4.0=pypi_0
xxhash=3.3.0=pypi_0
xz=5.4.2=h8cc25b3_0
yarl=1.9.2=pypi_0
zipp=3.16.2=pypi_0
zlib=1.2.13=h8cc25b3_0
zstandard=0.21.0=pypi_0
